*
{
	padding: 0;
	margin: 0;
}
body{
}
#wrapper
{
	position: absolute;
	width: 800px;	
	height: 800px;

	top: 50%; margin-top: -400px;
	left: 50%; margin-left: -400px;

	border: 2px solid #000;
}

#bonuses{
	position: absolute;
	
	width: 150px;
	height: 800px;
	
	top: 50%; margin-top: -400px;
	left: 50%; margin-left: 405px;
	
	background-color: #ff0000;
	
	border: 2px solid #000;
	
	text-align : center;
}

.score
{
	position: absolute;
	width: 100px;
	height: 52px;

	top: 0;
	right: 0;

	font-size: 30px;
	line-height: 50px;

	text-align: center;

	border-left: 2px solid #000;
}
.time
{
	position: absolute;
	width: 60px;
	height: 52px;

	top: 0;
	left: 0;

	font-size: 30px;
	line-height: 50px;

	text-align: center;

	border-right: 2px solid #000;
}
.best{
	position: absolute;
	width: 50px;
	height: 25px;
	
	top: 0;
	right: 0;
	
	font-size: 15px;
	line-height: 25px;
	
	text-align: center;
}
.wrapper
{
	width: 800px;
	height: 748px;
	position: relative;
	top: 52px;

	background-color: #B97A57;
	
	border: 2px solid #000;
	border-left: 0;
}
#clown
{
	height: 100px;
	width: 100px;

	position: absolute;

	background-image: url(clown.gif);
}

#pepito
{
	height: 300px;
	width: 300px;

	position: absolute;

	background-image: url(pepito.png);
}

#tryagain{
	height: 40px;
	width: 150px;
	
	top: 360;
	left: 325;
	
	position: absolute;
}

.popcorn{
	position: absolute;
	
	height: 200px;
	width: 150px;
	
	top: 0;
	left: 0;
	
	background-image: url(popcorn.png);
}

.soda{
	position: absolute;
	
	height: 200px;
	width: 150px;
	
	top: 202px;
	left: 0;
	
	background-image: url(soda.png);
}

.icecream{
	position: absolute;
	
	height: 200px;
	width: 150px;
	
	top: 402px;
	left: 0;
	
	background-image: url(icecream.png);
}

.vip{
	position: absolute;
	
	height: 198px;
	width: 150px;
	
	top: 604px;
	left: 0;
	
	background-image: url('vip.png');
}

.prixp{
	position: absolute;
	
	height : 30px;
	width: 150px;
	
	top: 170px;
	left: 0;
	
	border-bottom: 2px solid #000;
}

.prixs{
	position: absolute;
	
	height : 30px;
	width: 150px;
	
	top: 370px;
	left: 0;

	border-bottom: 2px solid #000;
}

.prixi{
	position: absolute;
	
	height : 30px;
	width: 150px;
	
	top: 570px;
	left: 0;
	
	border-bottom: 2px solid #000;
}

.prixv{
	position: absolute;
	
	height : 30px;
	width: 150px;
	
	top: 770px;
	left: 0;
	
	border-bottom: 2px solid #000;
}