*
{
	padding: 0;
	margin: 0;
}
#wrapper
{
	position: absolute;
	width: 800px;	
	height: 800px;

	top: 50%; margin-top: -400px;
	left: 50%; margin-left: -400px;

	border: 2px solid #000;
}
.score
{
	position: absolute;
	width: 100px;
	height: 50px;

	top: 0;
	right: 0;

	font-size: 30px;
	line-height: 50px;

	text-align: center;

	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
}
.time
{
	position: absolute;
	width: 60px;
	height: 50px;

	top: 0;
	left: 0;

	font-size: 30px;
	line-height: 50px;

	text-align: center;

	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
}
.wrapper
{
	width: 800px;
	height: 748px;
	position: relative;
	top: 52px;
}
#clown
{
	height: 100px;
	width: 100px;

	position: absolute;

	background-image: url(clown.gif);
}

#pepito
{
	height: 300px;
	width: 300px;

	position: absolute;

	background-image: url(pepito.png);
	opacity: 0;
}